/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* font */
.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-36 {
    font-size: 36px;
}

.fs-64 {
    font-size: 64px;
}

.color-while {
    color: #FFF;
}

.color-black {
    color: #000;
}

.line-height-15 {

    line-height: 150%;
}

.text {
    text-decoration: none;
}

.text:hover {
    color: inherit;
}


.container {
    width: 1296px;
    margin: 0 auto;
}

.align-items-c {
    align-items: center;
}


.d-flex {
    display: flex;
}

.justify-content-c {
    justify-content: center;
}

.justify-content-e {
    justify-content: end;
}

.ml-24 {
    margin-left: 24px;
}



img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.header {
    background-color: #000000;
    color: #D1D1D1;

    align-items: center;
    padding: 40px;

}

.nav {
    justify-content: space-between;
    align-items: center;

}


.Bruno_Ace_SC {
    font-family: "Bruno Ace SC", sans-serif;
}

.banner {
    background-color: #000000;
    color: #D1D1D1;
    align-items: flex-end;
}

.banner-title {
    color: #00FFA3;
    text-align: right;
    font-size: 128px;
    line-height: 150%;
}

.banner-list {
    margin-left: 24px;
}

.banner_bt {
    display: flex;
    justify-content: flex-end;
    border-radius: 32px;
    background: #FFF;
    padding: 12px 24px;
    height: auto;
    text-align: right;

}

.banner_bt>a {
    display: flex;
    text-decoration: none;
    color: #000000;
}

/* .intro */

.intro {
    display: flex;
    justify-content: center;
    background-image: url(./img/BG.png);
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro-img {
    gap: 40px;
    margin: 160px 0;
}

.intro-desc {
    width: 526px;
    ;

}

.main2 {
    margin: 160px auto;
}

.main2_list {
    display: flex;
    flex-wrap: wrap;
    width: 636px;
    height: 328px;
    gap: 20px;

}

.main2_card {
    display: flex;
    justify-content: center;
    padding: 16px;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #E3E3E3;
    border-color: #15161D;
    width: 290px;
    line-height: 1.5;
    color: #000;
    text-decoration: none;
}

.main2_card>a {
    text-decoration: none;
}

.above_title {
    margin-bottom: 36px;
}

.main_above {
    margin-left: 20px;
    width: 526px;
}

.contact-me {
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-icon {
    display: flex;
    justify-content: center;
    margin-left: 112px;


}


.contact-me_Font {
    margin: 96px 0;
    display: flex;
    align-items: center;

}

.main_img {
    margin: 96px 5px;
    width: 162px;
    height: 162px;
    transition: 1s;
    border-radius: 40px;
}

.main_img:hover {
    margin: 96px 5px;
    width: 162px;
    height: 162px;
    box-shadow: 0px 0px 16px 3px #9094FFE5 ,0px 4px 4px 0px #00000040;
    border-radius: 40px;
}

.main-3_MyProjects {
    margin: 160px auto;
}

.main3_title {
    margin-bottom: 20px;
}

.main-3ImgALL {
    gap: 20px;
}

.projext_bt {
    display: flex;
    align-items: center;
    border-radius: 32px;
    background: #000;
    padding: 12px 24px;
    width: 185px;
}

.footer {
    text-align: center;
    background-color: #000;
    padding: 40px 0;
    background-color: #000;

}